<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delayed Execution: EIP-7886 - Info Doc</title>
    <link rel="stylesheet" href="css/styles.css">

    <meta property="og:title" content="Delayed Execution Docs" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://nerolation.github.io/delayed-execution-docs/" />
    <meta property="og:image" content="https://nerolation.github.io/delayed-execution-docs/og-image.png" />
    <meta property="og:description" content="Documentation for delayed execution in Ethereum's consensus layer." />
    <meta property="og:site_name" content="Delayed Execution Docs" />
    <meta property="og:locale" content="en_US" />

    <link rel="icon" type="image/png" sizes="32x32" href="https://www.censorship.pics/assets/assets/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.censorship.pics/assets/assets/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.censorship.pics/assets/assets/favicon.ico" />

</head>
<body>
    <header>
        <h1>Delayed Execution: EIP-7886 - Info Doc</h1>
        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider"></div>
            </label>
            <span class="theme-label">Dark Mode</span>
        </div>
    </header>

    <div class="container"> 