<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delayed Execution: EIP-7886 - Info Doc</title>
    <link rel="stylesheet" href="css/styles.css">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V1P9MNX62G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-V1P9MNX62G');
</script>
</head>
<body>
    <header>
        <h1>Delayed Execution: EIP-7886 - Info Doc</h1>
        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider"></div>
            </label>
            <span class="theme-label">Dark Mode</span>
        </div>
    </header>

    <div class="container"> 