<h2 id="references">References</h2>
<div class="reference">
    <div class="reference-title">EIP-7886: Delayed Execution</div>
    <div class="reference-content">
        <a href="https://eips.ethereum.org/EIPS/eip-7886">The EIP</a> for delayed execution, detailing the protocol changes and rationale.
    </div>
</div>

<div class="reference">
    <div class="reference-title">EELS Reference Implementation</div>
    <div class="reference-content">
        <a href="https://github.com/fradamt/execution-specs/tree/delayed-exec-basic">The specification</a> for delayed execution, detailing the protocol changes and rationale.
    </div>
</div>

<div class="reference">
    <div class="reference-title">Delayed Execution And Skipped Transactions</div>
    <div class="reference-content">
        <a href="https://ethresear.ch/t/delayed-execution-and-skipped-transactions/21677">Original research post</a> by Toni and Francesco on the Ethereum Research forum that outlines the motivations and concepts.
    </div>
</div> 